body {
  width: 350px;
  height: auto;
  background-image: url("bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#heading{
    margin-top: 30px;
}
h1 {
  text-align: center;
  color: aqua;
  font-size: x-large;
  font-weight: bolder;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black;
  margin-top: 35px;
}

button {
  background-color: rgb(25, 25, 76);
  color: white;
  font-weight: bolder;
  padding: 10px;
  border: none;
  font-size: larger;
  border-radius: 5px;
  box-shadow: #2f2f3e 0 10px 20px -10px;
  cursor: pointer;
  transition: background 0.3s ease;
}
input{
  outline: none;
  border:  none;
}

button:hover {
  background: linear-gradient(90deg, #ce8eed, #f0e9e4);
color: #2f2f3e;
  animation: moveGradient 2s infinite linear;
}
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#fieldText{
  width: 80%;
  margin-bottom: 15px;
  border-radius: 7px;
  padding: 8px;
}
#weatherButton2{
  width: 60%;
}
.container2 {
  width: 100%;
  height: auto;
}
#city {
  color: aqua;
}
#country {
  color: aqua;
}
#temperature {
  color: aqua;
}
#weatherIcon {
  color: aqua;
}

#city2 {
  color: aqua;
}
#country2 {
  color: aqua;
}
#temperature2 {
  color: aqua;
}
#weatherIcon2 {
  color: aqua;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
